* {
  box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	max-width: 1000px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 20px;
	background-color: #f1f1f1;
}

h1 {
	color: #666;
}

button {
    padding: 5px;
}

.js-query {
    padding: 5px;
    min-width: 500px;
}


.js-search-form {
	margin-bottom: 20px;
}

.thumbnail-image {
	width:100%;
	height: 100%;
	padding-right: 3px;
	padding-left:3px;
}

.js-search-results {
	background-color: white;
}

.js-search-results li {
	display:inline-table;
	list-style: none;
	width:25%;
	margin-bottom: 10px;
	border-bottom: 1px solid #CCC;
    padding: 10px;

}

.title {
	font-weight: bold;
	color: #167ac6;
	height:50px;
	margin-top: 0px;
	text-align: left;
}

a {
	text-decoration: none;
}

ul {
    padding: 0px;
    margin: 0 auto;
}
